body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
}

header a {
	color: #fff;
	text-decoration: none;
}

h1 {
	font-size: 36px;
	margin: 0;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.center-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

button {
	margin: 10px;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

button:hover {
	background-color: #666;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 25px;
  }
  


footer p {
	margin: 0;
}